*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.ptak {
    display: flex;
    margin: 0 0 14px 8px;
}

.ptakContainer {
    display: flex;
    margin: 0 0 14px 8px;
    flex-direction: column;
}

.ptak img {
    width: 350px;
    height: 250px;
}

.opis {
    margin: 8px 0 0 0;
}

.nazwa {
    font-size: 20px;
}